{% extends 'base.html' %}

{% load static %}

{% block meta %}
  <title>Item Insight Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <script src="{% static 'js/main.js' %}"></script>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

  <style>
    * {
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
    }

    body {
    background-image: url(https://getwallpapers.com/wallpaper/full/e/a/9/1227331-pink-laptop-wallpapers-1920x1080-for-desktop.jpg);
    background-attachment: fixed; /* Menjadikan gambar latar belakang tetap */
    background-size: cover; /* Mengisi seluruh latar belakang */
    margin-top: 25px;
    text-align: center;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .data-app {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        line-height: 1.2; 
        color: #8a093c;
        margin: 1rem 1rem 1rem 0.5rem;
    }

    .item-name {
        font-size: 3rem;
        font-weight: 700;
        color: rgb(232, 38, 157);
        margin: 1rem 1rem 1rem 0.5rem;
        text-align: left;
    }

    .item-name span {
        color: rgb(95, 8, 76);
    }

    .header-controls {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .logout-button {
        background-color: rgb(167, 28, 93);
        color: rgb(255, 255, 255);
        font-weight: bold;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 10px;
        padding: 5px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .logout-button:hover {
        background-color: rgb(125, 5, 63);
    }

    .item-count {
        background-color: rgba(255, 255, 255, 0.5);
        color: rgb(156, 0, 94);
        font-weight: bold;
        border: 2px solid #581c4e;
        border-radius: 10px;
        padding: 20px 20px;
        margin: 20px auto;
        max-width: 500px;
        text-align: center;
    }

    .item-count p {
        margin: 0;
    }

    .add-product {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .pos {
        display: flex;
        justify-content: center;
    }
    
    .card-container {
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 auto;
        gap: 20px;
        max-width: 1200px;
    }

    .col-3 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        box-sizing: border-box;
        padding: 15px;
    }

    .product-card {
        border: 1px solid #ddd;
        padding: 15px;
        margin: 0 auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s;
        width: 100%;
        position: relative;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .col-3:last-child .product-card {
        background-color: rgb(255, 168, 216);
    }

    .product-card:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    .amount-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .btn-edit {
        background: none;
        border: none;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.5rem;
        cursor: pointer;
    }
    
    .btn-add {
        background-color: rgba(239, 12, 125, 0.733);
        color: rgb(255, 255, 255);
        font-weight: bold;
        border: 1px solid rgb(220, 56, 138);
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn-decrease {
        background-color: rgb(182, 22, 126);
        color: rgb(255, 255, 255);
        font-weight: bold;
        border: 2px solid rgb(182, 22, 126);
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn-remove {
        background-color: rgb(137, 18, 94);
        color: rgb(255, 255, 255);
        font-weight: bold;
        border: 1px solid rgb(137, 18, 94);
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn-add:hover {
        background-color: #5e1240; 
    }

    .btn-decrease:hover {
        background-color: #5e1240; 
    }

    .btn-remove:hover {
        background-color: #5e1240; 
    }

    .category {
        color: #df048b;
    }
    

  </style>
{% endblock meta %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="header">
                <h1 class="item-name">
                    Item <span> Insight</span>
                </h1>
                <div class="header-controls">
                    <div class="last-login">
                        <h4>Sesi terakhir login: {{ last_login }}</h4>
                    </div>
                    <a href="{% url 'main:logout' %}">
                        <button class="logout-button">Logout</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="data-app-container">
        <div class="data-app">
            <h3>{{ creator }}</h3>
            <h3>{{ id }}</h3>
            <h3>{{ class }}</h3>
        </div>
    </div>
    

    <div class="row">
      <div class="col-12">
          <div class="item-count">
              <p id="ItemCount"></p>
          </div>
      </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div id="product_card"></div>
        </div>
    </div>

    <div class="pos">
      <div class="row card-container">
        <!-- Kode JavaScript akan menempatkan kartu produk di sini -->
      </div> 
    </div> 

    <div class="row">
      <div class="col-12 text-center">
        <button type="button" class="btn btn-primary add-product" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: rgb(173, 3, 114); border-color: rgb(173, 3, 114);">Add Item by AJAX</button>
      </div>
    </div>
</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="form" onsubmit="return false;">
                  {% csrf_token %}
                  <div class="mb-3">
                      <label for="name" class="col-form-label">Name:</label>
                      <input type="text" class="form-control" id="name" name="name"></input>
                  </div>
                  <div class="mb-3">
                    <label for="category" class="col-form-label">Category:</label>
                    <input type="text" class="form-control" id="category" name="category"></input>
                  </div>
                  <div class="mb-3">
                    <label for="amount" class="col-form-label">Amount:</label>
                    <input type="number" class="form-control" id="amount" name="amount"></input>
                  </div>
                  <div class="mb-3">
                      <label for="price" class="col-form-label">Price:</label>
                      <input type="number" class="form-control" id="price" name="price"></input>
                  </div>
                  <div class="mb-3">
                      <label for="description" class="col-form-label">Description:</label>
                      <textarea class="form-control" id="description" name="description"></textarea>
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
          </div>
      </div>
  </div>
</div>

<script>
  async function getProducts() {
    return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
  }

  async function refreshProducts() {
    document.getElementById("product_card").innerHTML = ""
    const products = await getProducts()
    const itemCount = document.getElementById("ItemCount");
    const totalItem = products.length;
    itemCount.innerHTML = `Exquisite collection of ${totalItem} floral item(s) stored in this app`
    
    let htmlString = ``
    products.forEach((item) => {
    htmlString += `
      <div class="col-3">
        <div class="product-card">
            <h3>${item.fields.name}</h3>
            <a href="edit-product/${item.pk}">
              <button class="btn-edit">✏️</button>
            </a>
            <p>Amount: ${item.fields.amount}</p>
            <p>Description: ${item.fields.description}</p>
            <p>Price: IDR ${item.fields.price}</p>
            <p class="category">Category: ${item.fields.category}</p>
            <div class="card-footer">
                <button onclick="addAmount(${item.pk})" class="btn-add">Add</button>
                <button onclick="decreaseAmount(${item.pk})" class="btn-decrease">Decrease</button>
                <button onclick="removeItem(${item.pk})" class="btn-remove">Remove</button>
            </div>
          </div>
      </div>`;
    })

    document.querySelector(".card-container").innerHTML = htmlString;
  }

  function addProduct() {
      fetch("{% url 'main:add_product_ajax' %}", {
          method: "POST",
          body: new FormData(document.querySelector('#form'))
      }).then(refreshProducts)

      document.getElementById("form").reset()
      return false
  }

  function addAmount(itemId) {
    fetch(`add-amount/${itemId}/`, {
          method: "POST",
      }).then(refreshProducts)

      return false
  }

  function decreaseAmount(itemId) {
    fetch(`decrease-amount/${itemId}/`, {
          method: "POST",
      }).then(refreshProducts)

      return false
  }

  function removeItem(itemId) {
    fetch(`delete-product-ajax/${itemId}/`, {
          method: "DELETE",
      }).then(refreshProducts)

      return false
  }
  
  refreshProducts()
  document.getElementById("button_add").onclick = addProduct
</script>

{% endblock content %}
